%p{:style => "color: green"}= notice
- content_for :title, t(".title")
%h1{:style => "margin-left: 15px"} 
%br/
#courses
  .container
    .row.row-cols-1.row-cols-md-3.g-3
      - @courses.each do |course|
        .col
          .card{style: "height: 100%; margin-left: 20px; border-bottom-color: black"}
            = render course
