
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p style="margin: 10px;">        
          <%= comment.body %>
        <span class="badge rounded-pill bg-secondary"><%= comment.student.name%></span>
        </p>
      </div>
      <%= button_to "Delete this comment", [:teach,@course,@post,comment], class:"badge rounded-pill bg-danger",method: :delete,  data: { confirm: 'Are you sure?' } %>
    </div>
    <hr>
  </article>

</div>
