- content_for :title, t(".title",course_name: course.name)
%h2
  =t(".title",course_name: course.name)
.section
  .container
    - posts.each do |post|
      .card
        .card-content{style:  "margin: 10px;"}
          .media
            .media-content
              %p.title.is-7= link_to post.title,  student_course_post_path(course, post)
          .content
            = post.body
          .comment-count
            %span.tag.is-rounded
            = post.comments.count == 0 ? t(".comments.zero") : post.comments.count == 1 ? t(".comments.one"): t(".comments.other", count: post.comments.count, model: "post")