.box
  %article.media
    .media-content
      .content
        %p{style: "margin: 10px;"}
          = comment.body
        

      - if current_student == comment.commenter
        = button_to "Destroy this comment", [:student, course, post, comment],
                  method: :delete,
                  class: "btn btn-danger",
                  data: { confirm: "Are you sure?" }

      %hr/
