= turbo_stream.append "comments" do
  = render "shared/comments/comment", role: :student
 
= turbo_stream.replace "comment_form" do 
  = link_to "leave a comment", new_student_course_post_comment_path(course, post)

  


