%hr
    %section.section.comments
        .container
            .row
                .col-2
                    %strong.subtitle.is-5{style: "color: green;"}= ("students_comments")
                    = turbo_frame_tag dom_id(Comment.new)
                .col-2    
                    .comment-form
                        = link_to "leave a comment",new_path, data: { turbo_frame: dom_id(Comment.new)}
            #comments
            = render partial: "shared/comments/comment",collection: comments, locals: { role: role }
            