%p{style: "color: green"}= notice
- content_for :title, t(".title")

%h1{style: "margin-left: 15px"}= t(".title")
%br/

#courses
  .container
    .row.row-cols-1.row-cols-md-3.g-3
      - @courses.each do |course|
        .col
          .card{style: "height: 100%; margin-left: 20px; border-bottom-color: black"}
            = render course
            = button_to t(".enroll_in_course"), enroll_student_courses_path(course_id: course.id),
                        method: :post,
                        class: "btn btn-primary",
                        data: { turbo_confirm: t(".turbo_confirm",course_name: course.name) }
