%p{style: "color: green"}= notice
- content_for :title, t(".title")

%h1= t(".title")

#assignments
  %table.table.table-bordered
    %thead
      %tr
        %th{scope: "col"}=t(".ass_title")
        %th{scope: "col"}=t(".ass_deadline") 
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= link_to assignment[:title], student_course_assignment_path(assignment[:course_id], assignment[:assignment_id])
          %td= assignment[:deadline]
