- content_for :title, t(".title")
%h1 = t(".title")
= render "form", post: [:teach, @post]
%br/
%div
  = link_to t(."show_post"), [:teach,@course,@post]
  |
  \#{link_to t(".back"), teach_course_posts_path}
