= turbo_stream_from assignment
%div{id: dom_id(assignment)}
  %div{style: "margin-left: 20px"}
    %p
      %strong{style: "font-family: cursive; font-size: x-large"}= assignment.title
    %p{style: "font-family: cursive; font-size: large"}
      = assignment.content
    - if assignment.deadline
      %p
        %strong Deadline:
        = assignment.deadline.strftime("%B %d, %Y %I:%M %p")