= turbo_stream_from assignment

%div.card.mb-3{id: dom_id(assignment)}
  .card-body
    %h4.card-title.text-info= assignment.title
    %p.card-text= assignment.content
    - if assignment.deadline
      %p.mt-2
        %strong Deadline: 
        = assignment.deadline.strftime("%B %d, %Y %I:%M %p")
