- content_for :title, t(".title")
%h1 Editing assignment
= render "form"
%br/
%div
  = link_to t("show"), [:teacher, course,assignment]
  |
  \#{link_to t(".back_to_assignments"), teacher_course_assignments_path}
