%ul.navbar-nav
  - if current_student
    %li.nav-item
      =link_to t(".courses") ,student_courses_path, class:"nav-link"
    %li.nav-item
      = link_to t(".posts") , fetch_posts_student_courses_path, class:"nav-link"
    %li.nav-item
      =link_to t(".upcoming_assignments") ,upcoming_assignments_student_courses_path, class:"nav-link"
    %li.nav-item
      = link_to t(".your_progress") ,your_progress_student_courses_path, class:"nav-link"
    %li.nav-item
      =link_to t(".enroll_in_new_courses"),new_courses_student_courses_path, class:"nav-link"
    %li.nav-item
      = link_to t(".sign_out"),
       destroy_student_session_path,
       data: { turbo_method: :delete},
       class: "nav-link"
