<h2>Posts of the <%= @course.name %> course</h2>
<div class="section">
	<div class="container">
		<% @posts.each do |post| %>
			<div class="card">
		  <div class="card-content" style="margin: 10px;">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-7"><%= link_to post.title,  stud_course_post_path(@course, post) %></p>
		      </div>
		    </div>
		    <div class="content">
		     	<%= post.body %>
		    </div>
		    <div class="comment-count">
		    	<span class="tag is-rounded"><%= post.comments.count %> comments</span>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>